.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 3;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.container_right {
  /* top: 40%; */
  bottom: 20px;
  left: 60%;
}

.title {
  font-size: 20px;
  color: #ffffff;
  font-weight: 200;
  z-index: 3;
  margin-top: 50px;
}

@media screen and (max-width: 960px) {
  .container_right {
    /* top: 30%; */
    left: 60%;
    bottom: 20px;
  }
  .title {
    font-size: 18px;
  }
}

@media screen and (max-width: 700px) {
    .title {
    font-size: 17px;
  }
}
