.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* top: 55%; */
  z-index: 3;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.container_right {
  top: 40%;
  left: 60%;
}

.title {
  font-size: 20px;
  color: #ffffff;
  font-weight: 200;
  z-index: 3;
  margin-top: 50px;
}
