.table {
  display: flex;
  margin: auto;
  max-width: 880px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 60px;
  color: #000000;
}

.table_column {
  flex-direction: column;
  max-width: 780px;
  margin-top: 0px;
}

.table_white {
   position: absolute;
  color: #ffffff;
  margin: auto;
  margin-top: 70px;
  z-index: 3;
}

.table__cell {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 240px;
}

.table__cell_column {
  max-width: 100%;
  padding-bottom: 25px;
  border-bottom: 2px solid #e9c88b;
}

.table__heading {
  font-size: 15px;
  margin-bottom: 15px;
  font-weight: 400;
}

.table__heading_column {
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: 400;
}

.table__text {
  margin: 8px 0 0 0;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 300;
}

.table__text_column {
  font-size: 22px;
}

.border {
  margin-bottom: 7px;
  border-top: 1px solid #e9c88b;
  width: 30px;
}

.border_none {
  display: none;
}

.border_column {
  display: none;
}

@media screen and (max-width: 1030px) {
  .table_white {
    padding: 0 50px;
    
  }
}

@media screen and (max-width: 900px) {
  .table_white {
    padding: 0 25px;
    margin-top: 0px;
  }
 }

 @media screen and (max-width: 650px) {
  .table {
    margin-bottom: 0px;
  }
 }

@media screen and (max-width: 450px) {
   .table__heading_column {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .table__text_column {
    font-size: 14px;
  }
  .table__cell_column {
    padding-bottom: 15px;
  }
}
