.table {
  display: flex;
  margin: auto;
  max-width: 880px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 60px;
  color: #000000;
}

.table_white {
  bottom: 110px;
  margin-bottom: 0;
  position: absolute;
  color: #ffffff;
  margin: auto;
  z-index: 3;
}

.table__cell {
  /* width: 240px; */
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 240px;
}

.table__heading {
  /* line-height: 1.115; */
  font-size: 15px;
  /* font-weight: 500; */
  margin-bottom: 15px;
 
  font-weight: 400;
}

.table__text {
  /* margin: 15px 0 0 0; */
  margin: 8px 0 0 0;
  line-height: 1.2;
  font-size: 14px;
  /* font-weight: normal; */
  font-weight: 300;
}

.border {
  /* margin-top: 7px; */
  margin-bottom: 7px;
  border-top: 1px solid #e9c88b;
  width: 30px;
}

.border_none {
  display: none;
}
