.zakazat {
  display: flex;
  max-width: 980px;
  width: 100%;
  min-height: auto;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 150px;
  flex-direction: column;
  background: #f2f2f2;
}

.background {
  opacity: 0.6 !important;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.zakazat__cont {
  display: flex;
  max-width: 826px;
  width: 100%;
  flex-direction: column;
}

.button {
  display: flex;
  flex-basis: auto;
  justify-content: center;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  overflow: hidden;
  height: 32px;
  width: 227px;

  padding: 3px;
  background: #3f7652;
  border-radius: 50px;
  border: 0px solid rgb(63, 118, 82);
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.25em;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
}
.button:hover {
  transition: all 0.2s, ease, visibility 0s;
}

.svg {
  margin-left: 4px;
}
.email {
  font-weight: 400;
  color: #000000;
  font-size: 17px;
  margin-top: 23px;
}

.phone {
  font-size: 16px;
  color: #414141;
}
.title {
  font-size: 16px;
  color: #414141;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}

.text {
  font-size: 14px;
  color: #414141;
  margin: 0;
}

@media screen and (max-width: 1030px) {
  .zakazat {
    max-width: 880px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .zakazat__cont {
    display: flex;
    max-width: 780px;
    width: 100%;
    margin: auto;
    flex-direction: column;
    padding: 0 25px;
  }
}
