.container {
  display: flex;
  max-width: 980px;
  width: 100%;
  z-index: 1;
  background: #f2f2f2;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
}

.title {
  display: flex;
  max-width: 880px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  align-items: center;
  margin-top: 0;
  color: #000000;
}

.text {
  display: flex;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 60px;
  max-width: 880px;
  width: 100%;
  align-items: center;
  color: #000000;
  z-index: 3;
}

.container__pics {
  display: flex;
  gap: 8px;
  margin-bottom: 60px;
}

.pic__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  max-width: 436px;
  width: 100%;
}

.pic__container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5a6a75;
  opacity: 0.5;
  z-index: 2;
}

.pic__container_big {
  max-width: 880px;
  width: 100%;
}

@media screen and (max-width: 1030px) {
  .container  {
    display: none;
  }
}


