.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  max-width: 980px;
  width: 100%;
  min-height: auto;
  z-index: 1;
  background: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.footer__container {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 880px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.contacts {
  display: flex;
  flex-direction: column;
  max-width: 980px;
  width: 100%;
  background: #f2f2f2 !important;
}

.contacts__address {
  display: flex;
  max-width: 320px;
  width: 100%;
  font-size: 14px;
  color: #414141;
}

.contacts__phone {
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 400;
  color: #414141;
}

.contacts__email {
  font-size: 15px;
  cursor: pointer;
  text-decoration: underline;
  color: #000000;
}

.border {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #e9c88b;
  max-width: 876px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.footer__caption {
  display: flex;
  max-width: 880px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.footer__text {
  font-size: 15px;
  font-weight: 400;
  color: #414141;
  align-items: center;
  text-align: center;
  margin: 0;
}

.footer__social {
  display: flex;
  max-width: 260px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #414141;
}

/* .footer__link {
  display: flex;
  align-items: center;
} */

.footer__link {
  position: relative;
  display: flex;
  max-width: 28px;
  width: 100%;
  height: 28px;
}

.footer__link:hover {
  opacity: 0.6;
  transition: 0.4s ease 0s;
}

@media screen and (max-width: 1030px) {
  .footer {
    padding: 30px 25px;
    max-width: 880px;
  }
  .footer__container {
    max-width: 780px;
  }
  .contacts {
    max-width: 880px;
  }
  .contacts__address {
    font-size: 20px;
    max-width: 450px;
  }
  .contacts__phone {
    font-size: 20px;
  }
  .contacts__email {
    font-size: 21px;
  }
  .footer__text {
    display: none;
  }
  .footer__dates {
    display: none;
  }
  .footer__social {
    justify-content: flex-start;
  }
  .footer__caption {
    justify-content: flex-start;
  }
  .footer__link {
    max-width: 50px;
    width: 100%;
    height: 50px;
  }
}

/* @media screen and (max-width: 980px) {
  .footer__link {
    max-width: 80px;
    width: 100%;
    height: 80px;
  }
} */

@media screen and (max-width: 665px) {
  /* .footer__link {
    max-width: 70px;
    width: 100%;
    height: 70px;
  } */
  /* /* .contacts__address {
    font-size: 20px;
    max-width: 400px;
  } */
  /* .contacts__phone {
    font-size: 20px;
  } */

  
}

@media screen and (max-width: 550px) {
  /* .footer__link {
    max-width: 50px;
    width: 100%;
    height: 50px;
  } */
  .contacts__address {
    font-size: 16px;
    max-width: 350px;
  }
  .contacts__phone {
    font-size: 16px;
  }

  .contacts__email {
    font-size: 17px;
  }

}

@media screen and (max-width: 420px) {
  .footer {
    padding: 30px 15px;
  }
  .footer__link {
    max-width: 35px;
    width: 100%;
    height: 35px;
  }
  .contacts__address {
    max-width: 330px;
  }

  .contacts__address {
    font-size: 14px;
    max-width: 350px;
  }
  .contacts__phone {
    font-size: 14px;
  }

  .contacts__email {
    font-size: 15px;
  }
  
}
