.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.logo__pic {
  position: relative;
  display: flex;
  width: 35px;
  height: 40px;
}

.logo__text {
  display: flex;
  margin: 0;
  font-size: 16px;
  text-align: center;
  margin-left: 20px;
  font-weight: 500;
  color: #414141;
}

@media screen and (max-width: 1030px) {
  .logo_hidden {
    display: none;
  }
  .logo__pic {
    width: 30px;
    height: 50px;
  }
  .logo__text {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  /* .logo__pic {
    width: 35px;
    height: 35px;
  } */
  .logo__text {
    font-size: 18px;
  }
}

@media screen and (max-width: 310px) {
  .logo__pic {
    width: 35px;
    height: 35px;
  }
  .logo__text {
    font-size: 14px;
  }
}
