.navigation {
  display: flex;
  max-width: 730px;
  width: 100%;
  background: transparent;
  margin-left: 40px;
}

.list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: auto;
  box-sizing: border-box;
}

.list__item {
  display: flex;
  list-style-type: none;
  text-decoration-line: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  flex-wrap: nowrap;
}

.list__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1030px) {
  .navigation {
    display: none;
  }
  .navigation_opened {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    flex-direction: column;
    background: transparent;
    margin-left: 0;
  }
  .list_opened {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 515px;
    width: 100%;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
  }
  .list__item_opened {
    display: flex;
    max-width: 515px;
    width: 100%;
    border-bottom: 1px solid grey;
  }
  .list__item_opened:last-child {
    margin-right: 0;
    border: none;
  }
}

@media screen and (max-width: 920px) {
  .navigation_opened {
    margin-top: 180px;
  }
}

@media screen and (max-width: 540px) {
  .navigation_opened {
    margin-top: 50px;
  }
}

