.humburgerMenu {
  position: fixed;
  width: 40vw;
  height: 100vh;
  /* display: none; */
  z-index: 4;
  background: #f2f2f2;
  opacity: 0;
  visibility: hidden;
}

.humburgerMenu__container {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  background: #f2f2f2;
  padding: 20px 10px 20px 0;
  padding-left: 20px;
}

.humburgerMenu__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.humburgerMenu__close {
  display: none;
}

.humburgerMenu__close_opened {
  object-fit: cover;
  border: none;
  /* object-position: 50% 50%; */
  position: absolute;
  top: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  background: transparent;
  justify-content: center;
  align-items: center;
  display: block;
}
.humburgerMenu__close_opened:hover {
  /* opacity: 0.6;
  transition: 0.4s ease 0s; */
  opacity: 0.6;
  transition: opacity 0.4s;
}

@media screen and (max-width: 1030px) {
  .humburgerMenu_opened {
    display: flex;
    top: 0;
    left: 0;
    width: 40vw;
    height: 100vh;
    /* transition: left 0.4s; */
    visibility: visible;
    transition: visibility 0.7s, opacity 0.7s;
    opacity: 1;
  }
}

@media screen and (max-width: 650px) {
  .humburgerMenu_opened {
    width: 50vw;
  }
  .humburgerMenu__close_opened {
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-image: #e9c88b;
  }
}

@media screen and (max-width: 500px) {
  .humburgerMenu_opened {
    width: 60vw;
  }
}

@media screen and (max-width: 310px) {
  .humburgerMenu__close_opened {
    width: 25px;
    height: 25px;
  }
}
